@import "~materialize-css/dist/css/materialize.min.css";

html, body {
    padding: 0;
    margin: 0;
}

.home-page {
    margin-top: 40px;
}

#preloader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
app-404 h2 {
    text-align: center;
}
